<footer class="site-footer">
  <p style="text-align:center; padding:1rem; color:#666;"> Developed By:</p>
  <div class="footer-logo">
    <span class="logo-first">Alberto</span>
    <span class="logo-last">Ferullo</span>
  </div>
  <p style="text-align:center; padding:1rem; color:#666;">&copy; <%= new Date().getFullYear() %> Mählzeit</p>
</footer>
</body>
</html>
